@use "color";

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: color.$cl-black;
  &.is-fixed {
    overflow: hidden;
  }
}
.button {
  // 背景・文字の設定
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;
  // contactは背景・文字色反転
  &--bg {
    background-color: color.$white;
    .button__text {
      color: color.$bg-dark;
    }
  }
  // twitterはボーダー必要
  &--border {
    border: 1px solid color.$white;
    .button__text {
      color: color.$white;
    }
  }
  // アイコンの設定
  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
    &-path {
      fill: color.$white;
      &--contact {
        fill: color.$bg-dark;
      }
    }
  }
  &__text {
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 0.08em;
    color: color.$white;
  }
}
