@use "sass:map";

$breakpoints: (
  // "sp": "(width <= 767px)",
  "sp": "(width <= 1023px)",
  "tb": "(768px <= width <=  1023px)",
  "pc": "(1024px <= width)",
  // "pc": "(768px <= width)",
) !default;

// mixinメディアクエリ（@use "sass:map";が必要）
// @mixin mq($breakpoint: "sp") {
//   @media #{map-get($breakpoints, $breakpoint)} {
//     @content;
//   }
// }
@mixin mq($breakpoint: "sp") {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*  scssへ記述  */

//Figmaの時はこちら ===============

@mixin font($size: null, $weight: null, $height: null, $spacing: null) {
  @if $size {
    font-size: calc($size / 16 * 1rem); // ①
  }
  @if $weight {
    font-weight: $weight; // ②
  }
  @if $height {
    line-height: calc($height / $size); // ③
  }
  @if $spacing {
    letter-spacing: calc($spacing / $size * 1em); // ④
  }
}
