// カラー
$color: (
  main: #77f,
  white: #fff,
  black: #000,
  // header-bg: linear-gradient(to bottom, #77f, #00f),
  header-bg: linear-gradient(to bottom, blue, gray, black),
  drawer-bg-sp: linear-gradient(to bottom, blue, gray, black),
  font: #333,
  header-bg-sp: blue,
  red: #f00,
  bg-dark: #4a4a4a,
  bg-middle: #a98c5f,
  bg-light: #fafafa,
  cl-border: #808080,
  bg-gray-l: #6f6f6f,
  footer-bg: #fff,
  section-main: #fff,
  section-sub: rgb(255, 240, 228),
);

// 階層
$layer: (
  hamburger: 150,
  modal: 100,
  drawer: 90,
  totop: 80,
  header: 20,
  footer: 10,
  default: 1,
  background: -1,
);

$header: (
  pc-width: 200px,
  sp-height: 88px,
);
