// カラー
$color: (
  main: #77f,
  // white: #fff,
  // black: #000,
  font: #333,
  // text: #5b4c38,
  accent: #f00,
  hov-btn: rgba(255, 240, 228, 1),
  // header-bg: linear-gradient(to bottom, #77f, #00f),
  header-bg-pc: linear-gradient(to bottom, blue, gray, black),
  header-bg-sp: blue,
  drawer-bg-sp: linear-gradient(to bottom, blue, gray, black),
  section-main: #fff,
  section-sub: rgb(255, 240, 228),
  // footer-bg: #fff,
  bg-dark: #4a4a4a,
  // bg-middle: #a98c5f,
  // bg-light: #fafafa,
  // cl-border: #808080,
  // bg-gray-l: #6f6f6f,,,,,,,
);

// 階層
$layer: (
  hamburger: 150,
  modal: 100,
  drawer: 90,
  totop: 80,
  header: 20,
  footer: 10,
  default: 1,
  background: -1,
);

$header: (
  pc-width: 200px,
  sp-height: 88px,
);
